<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>Scan Results</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-5">
            <ngx-chart [items]="dataTableItems"></ngx-chart>
          </div>
          <div class="col-7">
            <div class="mb-3 d-flex justify-content-end"><strong>{{ tableCount }}</strong>&nbsp;vulnerabilities discovered</div>
            <ngx-data-table [items]="dataTableItems"></ngx-data-table>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
