@import "../../@theme/styles/themes";
@import "bootstrap/scss/mixins/breakpoints";
@import "@nebular/theme/styles/global/breakpoints";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@include nb-install-component() {
  .scan-group {
    padding: 1rem;

    input {
      height: 48px;
      border: 1px solid #0f151b;
      border-radius: 4px;
      padding: 0.75rem 1rem;
      font-size: 1rem;
      flex: 1;
    }

    .radio-buttons {
      white-space: nowrap;
      margin-left: 20px;

      label {
        margin-right: 1.5rem;
        color: #495057;
      }
    }

    ::ng-deep {
      .p-button.scan-button {
        background-color: #4285f4;
        border-color: #4285f4;
        border-radius: 4px;
        padding: 0.75rem 1.5rem;
        height: 48px;
      }

      .p-radiobutton {
        margin-right: 0.5rem;
      }

      .p-inputtext[_ngcontent-qpa-c184] {
        margin: 1rem;
      }
    }
  }

  nb-card-header {
    margin-top: 16px;
    font-size: 2.15em;
    border-bottom: 0;
  }

  ngx-chart {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;

    ::ng-deep chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  .console-output {
    display: block;
    background: #1e1e1e;
    color: #fff;
    padding: 1rem;
    border-radius: 4px;
    height: 400px;
    overflow-y: auto;
    font-family: monospace;
    width: 800px;

    .info {
      color: #3498db;
    }
    .error {
      color: #e74c3c;
    }
    .success {
      color: #2ecc71;
    }
  }

  p-tag {
    text-transform: capitalize;
  }

  p-tag[severity="danger"] {
    background-color: #e74c3c;
    color: white;
  }

  p-tag[severity="warning"] {
    background-color: #f39c12;
    color: white;
  }

  p-tag[severity="info"] {
    background-color: #3498db;
    color: white;
  }

  p-tag[severity="success"] {
    background-color: #2ecc71;
    color: white;
  }

  ::ng-deep p-button-lg {
    background-color: purple;
  }

  .row.mt-3 {
    justify-content: center;
  }
}
